# VScode
.vscode
.kilo
.idea

# Ignore Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore node_modules
node_modules
*.tsbuildinfo

# Ignore build output
dist
build
out
coverage

# Ignore logs
logs
*.log
*.sw


# Markdown files
*.md
!README.md
!SECURITY.md
!CONTRIBUTING.md
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!SUPPORT.md
!LICENSE.md
