# Ignore everything in the repository
*
# Whitelist source directories and their contents
!apps/
!apps/**/*
!docs/
!docs/**/*
!infra/
!infra/**/*
!packages/
!packages/**/*
# Whitelist specific root files
!.gitignore
!README.md
!TODO.md
!SECURITY.md
!LICENSE
!LICENSE.md