# Ignore everything in the repository
*
# Whitelist source directories
!apps/
!docs/
!infra/
!packages/
# Whitelist specific root files
!.gitignore
!README.md
!TODO.md
!SECURITY.md
!LICENSE
!LICENSE.md